.char {
	&__search {
		margin-top: 25px;
		display: block;
		padding: 25px;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		position: relative;
		z-index: 5;
		background-color: #fff;
		border-radius: 8px;

		&-label {
			font-weight: 700;
			font-size: 18px;
			color: #000;
		}

		&-form {
			display: flex;
			justify-content: space-between;

			margin-top: 20px;
		}

		&-input {
			width: 250px;
			height: 38px;
			padding: 0 10px;
			border: none;
			box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.25);
		}

		&-result {
			display: flex;
			margin-top: 15px;
			justify-content: space-between;
			align-items: center;
		}

		&-notfound {
			font-weight: 700;
			font-size: 18px;
			color: #9f0013;
		}

		&_list {
			width: 100%;
		}

		&-character {
			display: flex;
			justify-content: space-between;
			align-items: center;

			position: relative;
			margin-top: 8px;
			height: 60px;

			box-shadow: 2px 4px 4px rgba($color: #000000, $alpha: 0.4);
			border-radius: 4px;

			overflow: hidden;
			transition: 0.3s transform;

			&:hover {
				transform: translateY(-4px);
			}

			&_brightness {
				display: inline-block;
				position: absolute;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.6);
			}

			&_name {
				font-weight: bold;
				font-size: 24px;
				font-style: italic;
				text-transform: uppercase;
				background-image: linear-gradient(135deg, #ffff 0%, #ff5100 100%);
				background-clip: text;
				color: transparent;
				padding: 0 8px;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&_background {
				width: 100%;
				height: 100%;

				object-fit: cover;
				object-position: 0 -100px;
			}
		}
	}
}
